footer{
    background-color: #1A1A1A;
    height: 67px;
    font-family: 'Azeret Mono', monospace;
    color:#909090;
    font-size: 16px;
    line-height: 19px;
}

// rwd

@media (max-width:578px){
    footer{
        height: 46px;
        font-size: 12px;
        line-height: 14px;
    }
}