@mixin teacher_card {
    background-color: #2D2D2D;
    border-radius: 24px;
    margin-bottom: 24px;
    border:2px solid transparent;
    &:hover{
        border:2px solid $lightgreen;
        cursor:pointer;
    }
    figure{
        text-align: center;
    }
    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    figcaption{
        font-size: 16px;
        line-height: 24px;
        color:gray;
    }
    h4{
        font-size: 20px;
        line-height: 29px;
    }
    .teacher-text{
        border-bottom:1px solid gray;
        padding-bottom: 32px;
        padding-top:24px;
        padding-right:24px;
        padding-left:24px;
    }
    .color-text{
        color:$lightgreen;
        font-size: 16px;
        line-height: 24px;
        margin-top: 37px;
        margin-bottom: 8px;
    }
    p{
        font-size: 16px;
        line-height: 24px;
        color:lightgray;
        font-weight:100;
    }
    .price{
        margin-top: 16px;
        p{
            font-size: 32px;
            line-height: 37px;
        }
        span{
            font-size: 16px;
            line-height: 24px;
            margin-right: 8px;
        }
    }
}
@mixin teacher_padding{
    padding-top:24px;
    padding-bottom:16px;
}
.teacher{
    background-color:#000000 ;
    color:white;
    padding-bottom:80px;
}

.teacher-title{
    @include title;
    @include title_bottom_line;
    margin-bottom: 48px;
}

.teacher-card1{
    @include teacher_card;
    @include teacher_padding;
}
.teacher-card2{
    @include teacher_card;
    @include teacher_padding;
    .color-text{              //adjust the different margin
        margin-top:8px;
    }
}
.teacher-card3{
    @include teacher_card;
    @include teacher_padding;
    .color-text{              //adjust the different margin
        margin-top:8px;
    }
}
.teacher-card4{
    @include teacher_card;
    @include teacher_padding;
    .color-text{              //adjust the different margin
        margin-top:8px;
    }
}
.teacher-btn{
    @include gradient;
    color:white;
    margin-top: 48px;
    padding:8px 32px;
    &:hover{
        color:white;
    }
}

// padding right to adjust the padding

.padding-for-card{
    padding-right:0;
}
@media (max-width:768px) {
    .padding-for-card{
        padding-left:0;
    }
    .teacher-title{
        @include mobile-title;
    }
    .teacher-btn{
        margin-top: 0px; //因為card 本身有margin-bottom 24px
    }
    .teacher{
        padding-bottom:40px;
    }
}

// //rwd tablet mode

// @media (min-width:843px){
//     .teacher-card4{
//         .color-text{
//             margin-top: 37px;
//         }
//     }
// }

// @media (min-width:)