.student{
    background-image: url('https://github.com/Chaoci/coding-tutor-web/blob/main/app/assets/images/week6-202207/bg_share.jpg?raw=true');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 733px;
}

.student-title{
    @include title;
    @include title_bottom_line;
}


//Swiper area

