.row{
    margin:0;
}

.banner{
    background-image: url('https://github.com/Chaoci/coding-tutor-web/blob/main/app/assets/images/week6-202207/bg_home.jpg?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 680px;
    width: 100%;
}

.banner-phone{
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_home_mobile.jpg?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    height: 336px;
    width: 100%;
}
.gradient-text{
    /* Create the gradient. */
      background-image: linear-gradient(
          180deg,
          $lightgreen,
          $skyblue);
    /* Set the background size and repeat properties. */
      background-size: 100%;
      background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
}
.banner-text{
    padding:51px 12px;
    position:relative;
    border:1px solid #ffffff;
    cursor:default;
    .dot-topright{
        width: 10px;
        height: 10px;
        background-color: #fff;
        position:absolute;
        top:-5px;
        right:-5px;
    }
    .dot-topleft{
        width: 10px;
        height: 10px;
        background-color: #fff;
        position:absolute;
        top:-5px;
        left:-5px;
    }
    .dot-bottomright{
        width: 10px;
        height: 10px;
        background-color: #fff;
        position:absolute;
        bottom:-5px;
        right:-5px;
    }
    .dot-bottomleft{
        width: 10px;
        height: 10px;
        background-color: #fff;
        position:absolute;
        bottom:-5px;
        left:-5px;
    }
    h1 {
        font-weight: bolder;
        font-size:45px;
        text-align: center;
    }
    h2{
        margin-top: 18px;
        font-weight: bolder;
        font-size:45px;
        text-align: center;
        color:white;
        line-height: 1.2;
    }
    p{
        color:#fff;
        text-align: center;
        margin-top: 24px;
        font-size: 18px;
        line-height: 1.5;
    }
}
.row{
    padding:0 12px;
}

//rwd

@media (max-width:992px){
    .banner-text{
        h1{
            font-size: 22px;
        }
        h2{
            font-size: 22px;
        }
        p{
            font-size: 16px;
        }
    }
}