<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  </head>

  <body>
    <nav class="fixed-top">
      <div class="logo">
        <a class="lg-logo d-none d-md-block" href="index.html"><img src="https://raw.githubusercontent.com/Chaoci/coding-tutor-web/fbb61f39d7150b47adf70ddc79cb432a9b33a0de/app/assets/images/week6-202207/logo.svg" alt="coding-home">
        </a>
        <a class="sm-logo d-md-none" href="index.html">
          <img src="https://raw.githubusercontent.com/Chaoci/coding-tutor-web/fbb61f39d7150b47adf70ddc79cb432a9b33a0de/app/assets/images/week6-202207/logo2.svg" alt="small-logo">
        </a>
      </div>
      <div class="w-50 d-lg-none d-flex align-items-center justify-content-end menu">
      <span class="material-icons bars" id="menu">
        drag_handle
        </span>
      </div>
      <div class="navbar w-50 d-flex justify-content-end d-none d-lg-flex">
        <ul class="d-flex align-items-center">
          <li><a href="./index.html">首頁</a></li>
          <li><a href="./course.html">課程介紹</a></li>
          <li><a class="d-flex align-items-center" href="#"><span class="material-icons" id="menu">account_circle</span>登入</a></li>
        </ul>
      </div>
  </nav>
  <div class="navbar-mobile d-md-none">
    <ul class="d-flex flex-column align-items-center justify-content-center">
      <li><a href="./index.html"><p>首頁</p></a></li>
      <li><a href="./course.html"><p>課程介紹</p></a></li>
      <li><a href="#3"><p><span class="material-icons d-inline">account_circle</span>登入</p></a></li>
    </ul>
  </div>
    <%- contents %>
  <footer class="d-flex align-items-center justify-content-center">
    <p>Coding Home © 2022 All Rights Reserved</p>
  </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.3.2/swiper-bundle.min.js" ></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>